<%- include('./partials/header') %>

<h3>Recipe Repository</h3>

<% if (!user) { %>
	<p>please login to continue</p>
<% } else { %>
	<p>Welcome, <%= user.name %> to Recipe Repo</p>
<% } %>
<p>A Repository for all your recipies. Add all your favorite recipes to your cookbook and veiw other users recipes.</p>
<%- include('./partials/footer') %>
