<%- include('./partials/header') %>

<h3>Recipe Repository</h3>

<% if (!user) { %>
	<p>please login to continue</p>
<% } else { %>
	<p>Welcome, <%= user.name %> to Recipe Repo</p>
<% } %>
<p><strong>Introducing Recipe Repo – Your Personal Recipe Repository</strong> 
<br><br>
	Recipe Repo is a user-friendly app designed to serve as a comprehensive repository for all your favorite recipes. With Recipe Repo, you can easily collect and organize your cherished recipes in one convenient location. Whether you want to store family heirloom recipes, discover new culinary creations, or share your own culinary expertise with others, Recipe Repo has got you covered.
</p>
<p><strong>Key Features:</strong></p>
<ul>
	<li> Personal Cookbook: Create your own digital cookbook by adding and organizing your favorite recipes. Store recipes from various sources, including family traditions, cookbooks, online blogs, and more.</li>
	<li>User-Friendly Interface: Recipe Repo offers an intuitive and user-friendly interface, making it easy to browse, search, and manage your recipe collection. Effortlessly navigate through categories, or search by ingredients to find the perfect recipe for any occasion.</li>
	<li>Secure Login with Google Account: Conveniently access Recipe Repo by logging in with your Google account. This ensures a seamless and secure experience, allowing you to save and access your recipes across multiple devices.</li>
	<li>Social Sharing: Share your favorite recipes with others and contribute to the Recipe Repo community. Inspire fellow food lovers with your culinary creations and engage in discussions about cooking tips, ingredient substitutions, and more.</li>
</ul>
<p>Whether you're a seasoned chef, a home cook, or a culinary enthusiast, Recipe Repo is your go-to app for organizing, discovering, and sharing recipes. Simplify your cooking journey, connect with like-minded food lovers, and unlock a world of culinary delights with Recipe Repo.</p>

<%- include('./partials/footer') %>
