* {
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    margin: 0;
    height: 100vh;
    text-align: center;
}

body > nav {
    height: 20vh;
    background-color: #BAA2D6;
    padding: 0 20px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
a{
text-decoration: none;
color: #4B4453;
}
a:hover{
    background-color: #BAA2D6;
    text-decoration: underline;
}
nav>a{
    margin: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: default;

}
nav>a:hover{
    color: white;
    background-color: #8D5FD3;
    text-decoration: none;
}
nav>a:active {
	position:relative;
	top:1px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
thead{
    background-color: #BAA2D6;
    /* border-bottom: 2px solid black; */
}
table, th, td {
    border-collapse: collapse;
}
tbody>tr{
    border-top: 2px solid black;
}

table {
    width: 80%;
    text-align: left;
}
table td, table th {
    padding: 4px 4px;
}
table tbody td {
    font-size: 13px;
    border-left: 2px solid black;
}
table thead {
    background: #BAA2D6;
}
table thead th {
    font-weight: bold;
    text-align: left;
}

div{
    padding: 10px;
}
div>*{
    display: inline;
}

button {
	background-color:#BAA2D6;
	border-radius:20px;
	border:none;
	display:inline-block;
	color:white;
	font-size:17px;
	padding:14px 29px;
	text-decoration:none;
}
button:hover {
	background-color:#8D5FD3;
}
button:active {
	position:relative;
	top:1px;
}
select{
    border: 1px solid black;
    border-radius: 2px;
}
input {
    cursor: text;
    padding: 1%;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
}
