<%- include('../partials/header') %>

<h2>All Your Recipes</h2>

<!-- <a href="/recipes/new">Add a New Recipe</a> -->
<form action="/recipes/new" action="GET">
    <button type="submit">Add a New Recipe</button>
</form>

<%- include('../partials/footer') %>
